/* Size of Map Section */
#mapsection {
    float: right;
    width: 100%;
    min-height: 100vh;
}

/* Search Section */
#searchSection {

}

/* Main CSS */
main {
    font-size: medium;
    height: 93vh;
    width: 100%;
    line-height: 1.6;
    overflow: hidden;
}

#textSect {
    height: 33vh;
    width: 50%;
    border-radius: 50%;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.textBox {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, .75);
    backdrop-filter: blur(10px);
    width: 50%;
    height: 50vh;
}

#centerBox {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squareUp {
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
}

/* Tab Selection Section */
.tab {
    width: 100%;
    overflow: hidden;
    border: none;
    background: none;
}

.tab button {
    border: 1px;
    border-color: black;
    outline: none;
    cursor: pointer;
    padding: 7px 8px;
    transition: 0.3s;
    font-size: large;
}

.tab button:hover {
    background-color: lightgray;
}

.tab button.active {
    background-color: gray;
}

.tabContent {
    height: 85%;
    width: 100%;
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
}
/* End Tab Selection Section */

/* Background Image for entire Page */
.img {
    /* image */
    background-image: url("https://raw.githubusercontent.com/jkalter24/ifyournothappy/main/img/infoimg.jpg");

    /* height for page */
    height: 100%;
    width: 100%;

    /* handle the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search {
    margin: auto;
    margin-top: 10px;
    right: 0;
    left: 0;
    width: 20%;
    height: 30px;
    position: absolute;
    z-index: 9;
}

iframe
{
    width: 100%;
    height: 100%;
}

.areaPanels {
    position: absolute;
    top: 14vh;
    bottom: 0;
    align-items: center;
    margin: auto;
    width: 400px;
    z-index: 5;
}

#panelBox {
    height: 70vh;
    width: 100%;
    background: white;
}